* {
    cursor: none;
}

#cursor-box {
    width: 12px;
    height: 12px;
    background-color: rgba(0, 0, 255, 0.45);
    border-radius: 50%;
    position: absolute;
    display: none;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    z-index: 15001;
}

#cursor-box-container {
    width: 20px;
    height: 20px;
    background-color: rgba(128, 128, 128, 0.5);
    position: absolute;
    border-radius: 50%;
    display: none;
    transition: all 0.2s;
    pointer-events: none;
    z-index: 15000;
}
