@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --border-color: dodgerblue;
    --grey-color: rgba(206, 206, 206, 0.2);
    --error-color: rgba(255, 0, 0, 0.3);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

body {
    background-color: rgba(0, 176, 255, 0.2);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
}

#errors-box .error > .error-msg {
    margin-left: 10px;
}

#errors-box {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    background-color: var(--error-color);
    border: 1px solid var(--error-color);
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
    transform: translateY(-100px);
}

@keyframes show {
    50% { transform: translateY(30px); }
}

#wrapper {
    width: 70%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: row;
}

#wrapper #login-form {
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 1fr;
    padding: 5% 10%;
}

#wrapper #login-form #form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper #login-form #form-container form {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#wrapper #login-form #form-container form .fields {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 20%;
}

#wrapper #login-form #form-container form .fields a {
    text-decoration: none;
    color: var(--border-color);
}

#wrapper #login-form #form-container form .fields:last-child {
    height: 5%;
    font-size: 12px;
    text-align: left;
    display: inline;
}

#wrapper #login-form #form-container form .fields #btn {
    width: 100%;
    height: 60%;
    background-color: var(--border-color);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    opacity: 0.7;
    transition: opacity 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35%;
}

#wrapper #login-form #form-container form .fields #btn .fa {
    margin-right: 5px;
    animation: moveIcon 1s ease-in-out 0s infinite normal;
}

@keyframes moveIcon {
    50% {
        margin-right: 20px;
    }
}

#wrapper #login-form #form-container form .fields #btn:hover {
    opacity: 1;
}

#wrapper #login-form #form-container form .fields label {
    margin-bottom: 3%;
}

#wrapper #login-form #form-container form .fields input  {
    width: 100%;
    height: 50%;
    outline: none;
    padding: 3%;
    border: none;
    border-radius: 5px;
    background-color: var(--grey-color);
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 2px;
}

#wrapper #login-form #form-container form .fields input[type="password"] {
    letter-spacing: 5px;
}

#wrapper #login-form #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#wrapper #login-form #header h2 {
    font-size: 1.5rem;
    color: #5b5d63;
    font-family: "Poppins", sans-serif;
}

#wrapper #login-form #header img {
    width: 15%;
    height: 90%;
}

#wrapper #login-icon {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgba(0, 176, 255, 0.5);
}

#wrapper #login-icon img {
    width: 80%;
    height: 70%;
}

#wrapper #login-icon #desc {
    width: 80%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#wrapper #login-icon #desc span {
    color: white;
    text-align: center;
    display: block;
}

#wrapper #login-icon #desc span:nth-child(1) {
    font-size: 18px;
}

#wrapper #login-icon #desc span:nth-child(2) {
    margin-top: 3%;
    font-size: 12px;
}
